<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-4.0.xsd">
    <!--  数据库连接池  -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--  驱动  -->
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <!-- url -->
        <property name="url" value="jdbc:mysql://localhost:3306/maven_ssm" />
        <!--  用户名  -->
        <property name="username" value="root" />
        <!--  密码  -->
        <property name="password" value="123456" />
    </bean>
    <!-- mapper  配置  -->
    <!--  让  spring  管理  sqlsessionfactory  使用 mybatis  和 spring  整合包中的  -->
    <bean id="sqlSessionFactory"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--  数据库连接池  -->
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage"
                  value="com.itheima.domain"></property>
        <property name="mapperLocations" value="classpath*:mapper/ItemsDao.xml"></property>
    </bean>
    <!-- mapper  扫描器 ：用来产生代理对象 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.itheima.dao"></property>
    </bean>
</beans>